:root{
  --detail: hsl(200, 50%, 45%);
  --background: hsl(200, 30%, 97%);
  --letters: hsl(200, 0%, 100%);
  --disabled: hsl(200, 10%, 55%);
  --shadow: hsl(200, 100%, 17.5%);
  --color-border: hsla(200, 10%, 87.5%, 0.85);
}

html {
  font-size: 10px;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.6rem;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
