.CanvasWrapper{
    grid-area: canvas;
    display: flex;
    justify-content: center;
}

.Canvas{
    border: 1px solid var(--borders);
    width: 80vw;
    height: 85vh;
    background-color: white;
}

